.outer-box {
    border: 2px solid white;
    font-family: 'Luckiest Guy', cursive !important;
    color: white;
    font-size: 15vw;
    letter-spacing: 1vw;
    padding: 2vw;
    position: relative;
}
