.single-triangle
{
    height:0px;
    width:0px;
    z-index: 100;
    top:0px;
    left:0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
